<!--- Signifies html5 --->
<!DOCTYPE html>
<html>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<head>
    <title>Waker Upper</title>
    <!-- Setup for mobile device screen physical width -->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <!-- Container for grid layout (12 cells) -->
    <div class='container'>
        <h1>Waker Upper</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Device</th>
                    <th scope="col">MAC</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{ for device in devices }}
                <tr>
                    <th scope="row">{device.name}</th>
                    <td>{device.mac_address}</td>
                    <td>
                        <!-- <form action="/api/wake/{@index}" method="post"> -->
                        <button class="btn btn-primary" name="wake" onclick="send_wol({@index})"> <i
                                class="bi bi-alarm-fill text-primary text-light"></i> Wake
                        </button>
                        <!-- </form> -->
                    </td>
                </tr>
                {{ endfor }}
            </tbody>
        </table>
        <div class="toast-container" id="toast_container">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" type="success" id="toast">
                <div class="toast-header">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    WOL sent to ca.fe.ba.fe.01.02
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        const container = document.getElementById('toast_container');
        const targetElement = document.getElementById('toast');

        // Remove base element markup
        targetElement.parentNode.removeChild(targetElement);

        async function send_wol(index) \{
            console.log(index);
            const response = await fetch(`/api/wake/$\{index}`, \{ method: 'POST' });
            const response_json = await response.json();
            console.log(response_json);

            // Create new toast element
            const newToast = targetElement.cloneNode(true);
            container.prepend(newToast);
            newToast.getElementsByClassName("toast-body")[0].innerHTML = response_json["message"];

            // Create new toast instance --- more info: https://getbootstrap.com/docs/5.1/components/toasts/#getorcreateinstance
            const toast = bootstrap.Toast.getOrCreateInstance(newToast);

            // Toggle toast to show --- more info: https://getbootstrap.com/docs/5.1/components/toasts/#show
            toast.show();
        }
    </script>
</body>


</html>